<%= form_for(@cookcategory) do |f| %>
  <% if @cookcategory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cookcategory.errors.count, "error") %> prohibited this cookcategory from being saved:</h2>

      <ul>
      <% @cookcategory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">

    <%= f.text_field :name, :placeholder => "Name"%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
